header div {
  display: inline-block;
  margin-top: 7px;

}

h3 {
  font-family: 'Yellowtail', cursive;
  font-size: 2em;
  margin-bottom: 0%;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin-left: 7px;
  margin-top: 0%;
}


header ul {
  float: right;
  margin-top: 3em;
  margin-left: 15px;
}

header li {
  display: inline-block;
  
  
}

#hash {
  background-image: url(/img/hr-img.png);
  background-repeat: repeat-x, ;
  
  height: 15px;
}

.one {
  background-repeat: no-repeat;
}
.two {
  background-repeat: repeat;
}
.three {
  background-repeat: repeat-x;
}
.four {
  background-repeat: repeat-y;
}
.five {
  background-repeat: space;
}
.six {
  background-repeat: round;
}
